*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62, 5%;
}

.wrapper {
  margin: auto;
  width: 85%;
  max-width: 335px;
}

header {
  height: 504px;
  position: relative;
  padding-top: 2em;
  overflow: hidden;
}
header .header-tablet-bg, header .header-tablet-object {
  display: none;
}
header .header-mobile-bg {
  position: absolute;
  top: -200px;
  left: 40px;
}
header .hero-text {
  margin-top: 2em;
  font-family: "IBM Plex Sans", sans-serif;
}
header .hero-text .hero-title {
  line-height: 30px;
}
header .hero-text .hero-paragraph {
  margin-top: 2em;
}

main {
  position: relative;
}
main .phone-separator .phone-img {
  width: 209px;
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
}
main .phone-separator .separator-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  background-color: #191826;
  height: 340px;
  overflow: hidden;
}
main .premium-area {
  padding-top: 2em;
  height: 525px;
  background-color: #fa7453;
}
main .premium-area .premium-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.2rem;
  margin-bottom: 0.8em;
}
main .premium-area .premium-description {
  font-size: 0.9rem;
  line-height: 1.3em;
  margin-bottom: 2em;
}
main .premium-area .pricing {
  display: flex;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 3em;
}
main .premium-area .pricing .price {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 0.5em;
}
main .premium-area .buttons {
  display: flex;
  flex-direction: column;
}
main .premium-area .buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  padding: 1em 2em;
  border-radius: 10px;
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
}
main .premium-area .buttons .btn img {
  margin-right: 0.5em;
}
main .premium-area .buttons .ios-btn {
  background-color: #191826;
  color: #fcfaf9;
}

footer {
  margin-top: 2em;
}
footer .footer-logo {
  margin-bottom: 1.5em;
}
footer .footer-description {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.95rem;
  line-height: 1.2em;
  margin-bottom: 1.5em;
}
footer .footer-description .footer-bold {
  font-weight: bold;
}
footer .icon-box {
  margin-bottom: 2em;
}
footer .icon-box img {
  margin-right: 1.5em;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1200px;
  }
  header {
    height: 628px;
  }
  header .header-mobile-bg {
    display: none;
  }
  header .header-tablet-bg {
    display: block;
    position: absolute;
    top: -400px;
    right: -250px;
  }
  header .header-tablet-object {
    display: block;
    position: absolute;
    top: -50px;
    right: -60px;
    width: 180px;
    z-index: 100;
  }
  header .hero-text {
    margin-top: 5em;
  }
  header .hero-text .hero-title {
    font-size: 4rem;
    width: 70%;
    line-height: 1em;
  }
  header .hero-text .hero-paragraph {
    width: 70%;
    line-height: 1.4em;
  }
  main {
    margin-bottom: 15em;
  }
  main .phone-separator .phone-img {
    top: -120px;
    left: 100px;
    transform: none;
  }
  main .phone-separator .separator-bg-box {
    display: flex;
    margin: auto;
    width: 85%;
    max-width: 1200px;
    height: 100%;
    border-radius: 15px;
  }
  main .phone-separator .separator-bg-box img {
    margin-left: 0;
    margin-bottom: 5em;
    width: 35%;
  }
  main .premium-area {
    position: absolute;
    top: 50px;
    right: 180px;
    width: 320px;
    border-radius: 20px;
  }
  .footer-box {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-box .footer-logo {
    margin-right: 10em;
  }
  .footer-box .footer-description {
    width: 60%;
  }
  .footer-box .icon-box {
    align-self: center;
    margin-left: 7em;
  }
}/*# sourceMappingURL=main.css.map */