$cyan: #66e2dc;
$orange: #fa7453;
$yellow: #ffb964;
$white: #fcfaf9;
$slate: #191826;

//typography

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    font-size: 62,5%;
}
.wrapper{
    margin: auto;
    width: 85%;
    max-width: 335px;
}

header{
    height: 504px;
    position: relative;
    padding-top: 2em;
    overflow: hidden;
    .header-tablet-bg, .header-tablet-object{
        display: none;
    }
    .header-mobile-bg{
        position: absolute;
        top: -200px;
        left: 40px;
    }
    
    .hero-text{
        margin-top: 2em;
        font-family: "IBM Plex Sans", sans-serif;
        .hero-title{
            line-height: 30px;
        }
        .hero-paragraph{
            margin-top: 2em;
        }
    }
}
main{
    position: relative;
    .phone-separator{
        .phone-img{
            width: 209px;
            position: absolute;
            top: -150px;
            left: 50%;
            transform:translateX(-50%)
        }
        .separator-bg{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2em;
            background-color: $slate;
            height: 340px;
            overflow: hidden;


        }
    }
    .premium-area{
        padding-top: 2em;
        height: 525px;
        background-color: $orange;
        .premium-title{
            font-family: "IBM Plex Sans", sans-serif;
            font-size: 2.2rem;
            margin-bottom: .8em;
        }
        .premium-description{
            font-size: .9rem;
            line-height: 1.3em;
            margin-bottom: 2em;
        }
        .pricing{
            display: flex;
            align-items: center;
            font-family: "IBM Plex Sans", sans-serif;
            margin-bottom: 3em;
            .price{
                font-size: 3rem;
                font-weight: bold;
                margin-right: .5em;
            }
        }
        .buttons{
            display: flex;
            flex-direction: column;
            .btn{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1em;
                padding: 1em 2em;
                border-radius: 10px;
                border: none;
                font-family: "IBM Plex Sans", sans-serif;
                font-weight: bold;
                img{
                    margin-right: .5em;
                }

            }
            .ios-btn{
                background-color: $slate;
                color: $white;
            }
        }
    }
}
footer{
    margin-top: 2em;
    .footer-logo{
        margin-bottom: 1.5em;
    }
    .footer-description{
        font-family: "IBM Plex Sans", sans-serif;
        font-size: .95rem;
        line-height: 1.2em;
        margin-bottom: 1.5em;
        .footer-bold{
            font-weight: bold;
        }
    }
    .icon-box{
        margin-bottom: 2em;
        img{
            margin-right: 1.5em;
        }
    }
}

// Media

//Tablet

@media (min-width:768px) {
    .wrapper{
        max-width: 1200px;
    }
    header{
        height: 628px;
        .header-mobile-bg{
            display: none;
        }
        .header-tablet-bg{
            display: block;
            position: absolute;
            top: -400px;
            right: -250px;
        }
        .header-tablet-object{
            display: block;
            position: absolute;
            top: -50px;
            right: -60px;
            width: 180px;
            z-index: 100;
        }
        .hero-text{
            margin-top: 5em;
            .hero-title{
                font-size: 4rem;
                width: 70%;
                line-height: 1em;
            }
            .hero-paragraph{
                width: 70%;
                line-height: 1.4em;
            }
        }
    }
    main{
        .phone-separator{
            .phone-img{
                top: -120px;
                left: 100px;
                transform:none;
            }
            .separator-bg-box{
                display: flex;
                margin: auto;
                width: 85%;
                max-width: 1200px;
                height: 100%;
                border-radius: 15px;
                img{
                    margin-left: 0;
                    margin-bottom: 5em;
                    width: 35%;
                }
            }
        }
        .premium-area{
            position: absolute;
            top: 50px;
            right: 180px;
            width: 320px;
            border-radius: 20px;
            
        }
        margin-bottom: 15em;
    }

    .footer-box{
        display: flex;
        flex-wrap: wrap;
        .footer-logo{
            margin-right: 10em;
        }
        .footer-description{
            width: 60%;
        }
        .icon-box{
            align-self: center;
            margin-left: 7em;
        }
    }

    
}
